
<div class="hero-unit">
  <h1>Noticias tecnológicas</h1>
  <p>En este blog encontrarás la noticias mas actualizadas en todos los campos de la tecnología.</p>
  <p>Blog en construcción</p>
  <p> <a class="btn btn-primary btn-large" 
         target="_blank"  
         href="/Posts">Últimas noticias &raquo;</a></p>
</div>

<div class="page-header">
<hr>

<h1>Bienvenido al blog de la tecnología<br>
<small>Ponte al día con las novedades más destacadas del mundo de la tecnología </small>
</h1>

</div>

<div class="row-fluid">

  <div class="span4" id="imagen_inicial">
    <img src='images/tecnologia.png' alt='layers'/>
  </div><!--/span-->


  <div class="span1" id ="contador">
    <div id="visitas">Visitas:</div>
    <% for (var i in imagenes){ %>
      <img style="height: 3em" style="max-width: 2%" src=<%= imagenes[i]%>>
    <% };%>
  </div></hr>

</div>
