<section>
      		<hr>
		    <div id="cuerpo">
		      <div class="row-fluid">
		    	<div class="hero-unit">

		    	    <div id="bloqueVideo" >
					 	<video  id='video' controls preload>
			    			<source src="/videos/videoExplicacion.mp4"> 
			                <source src="/videos/videoExplicacion.ogg">
			           		<source src="/videos/videoExplicacion.webm"> 
			            </video>
					</div>

					<div  id="bloqueExplicacion">
						<div id="explicacion"><h3><b>Proyecto SWCM Curso 2012 - 2013.</h3></b>
						    
							<br>El proyecto consiste en la creación de un blog.
							En esta primera entrega se incluye la implementación de un contador de 
							visitas, visible en la página principal del blog (aún en construcción).
							Por otro lado también se incluye esta página estática con información sobre el proyecto y un vídeo explicativo del mismo.
							<br>
							Para maximizar la compatibilidad con los distintos navegadores de internet, se incluyen los videos en los tres formatos principales: <i>.mp4</i>, <i>.ogg</i>, y <i>.webm</i>.
							
							
						</div>
					</div>

					<div id="div_vacio"></div>

					

				</div>
			  </div>
				<div class="hero-unit">
					<div id="bloqueAutores">
						<h3>Autores del proyecto<br>
						<small>Manuel Cerrillo Bermejo</small><br>
						<small>Daniel Buldón Blanco</small>
						</h3>
				    </div>
			    </div>

			</div>
    </section>